<div class="field">
  <%= f.text_field :firstname, class:"input", placeholder:"Your Last Name" %><br>
</div>
<div class="field">
  <%= f.text_field :lastname, class:"input", placeholder:"Your Last Name" %><br>
</div>
<div class="field">
  <%= f.text_field :age, class:"input", placeholder:"Your Age" %><br>
</div>
