<div class="row">
  <div class="col-md-3 col-lg-4"></div>
  <div class="col-sm-6 col-md-6 col-lg-4 center">
    <%=form_for @tweet, url:tweet_path(@tweet.id) do |f|%>
    <%=render 'form', f:f%>
    <%=f.submit "Update", class:"btn btn-primary"%>
    <%end%>
</div><!-- /.col -->
<div class="col-md-3 col-lg-4"></div>
</div><!-- /.row -->