<div class="row">
  <div class="col-md-3 col-lg-4"></div>
      <div class="col-sm-6 col-md-6 col-lg-4 center">
      <% if user_signed_in? %>
      <%= render 'users/stats' %>
      <%= render 'tweets/new'%>
      <%= render @feed %>
      <%# render @tweets%>
      <% else %>
        <% render @tweets%>
      <% end %>
      </div><!-- /.col -->
    <div class="col-md-3 col-lg-4"></div>
</div><!-- /.row -->
